@import '~assets/scss/consts.scss';
.transparent-block300 {
  width: 100%;
  min-width: $min_width;
  min-height: 2px;
  max-height: 300px;
  height: 20%;
  background: $lightblue;
}

.whitestripe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 80%;
  min-height: 260px;
  max-height: 700px;
  background: white;
  z-index: 10;
}

// Scrollable sections

.scrollable-sections-container{
  position:relative;
  display:flex;
  width:100%;
  overflow:hidden;
  box-sizing: border-box;
  float: left;
  min-width: $min_width;
  max-width: 1920px;
  margin: 0;
  min-height: 220px;
  height: calc(100% - #{$header-height});

  @media only screen and (max-height: 600px){
    height: calc(100% - #{$header-mini-height});
  }
}

.scrollable-section{
  width:100%;
  height: 100%;
  transition:1s;

  .slider-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 280px;
    width: 100%;
    min-height: 25px;
    margin: 10px 0;

    .slider {
      min-width: 200px;
      width: 50%;
      min-height: 20px;
      margin: 0 20px;
    }

    .slider-left-value, .slider-right-value {
      width: 40px;
      height: 100%;
    }
  }




  // &:first-of-type{
  //   background:pink;
  //   left:-100%;
  // }
  //
  // &:last-of-type{
  //   left:100%;
  // }
  //
  // &.active-section{
  //   top:0;
  //   left:0;
  //   visibility: visible;
  // }
}
