.flex-c-c-c{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-fs-c-c{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-sa-c-c{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.column{
  display: flex;
  flex-direction: column;
}

.box-400-800{
  min-width: 400px;
  min-height: 800px;
}

.box-400-400{
  min-width: 400px;
  min-height: 400px;
}

.box-400-200{
  min-width: 400px;
  min-height: 200px;
}

.content-wrapper{
  height: calc(100% - 60px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
